[Unit]
Description=N2Sys wg server
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
ExecStart=@A
Restart=always
RestartSec=5
WorkingDirectory=/home/guojunyi/N2SysWireguardManager/

[Install]
WantedBy=multi-user.target